.titulo1 {
    
    position: absolute;

    color: darkorange;
    font-family: Impact;
    font-style: oblique;
    opacity: 0.8;
    
    font-size: 7vw;

    
    left: 2vw;
    top: 1vw;
    
    margin-left: 5vw;
    margin-right: 150vw;
    
}

.titulo2 {
   
    color: darkorange;
    background-color: black;
    padding: 0vw 38vw 0vw 38vw;
    
    font-size: 3rem;
    top: 55vw;
}

.logo{
    position: absolute;
    background-color:dimgrey;
    opacity: 95%;

    width: 15vw;
    height: 15vw;

    top: 45vw;
    left: 8vw;

    border: 0.5vw solid rgb(157, 255, 0);
    border-radius: 6vw;
}

nav {
    display: flex;
    flex-direction: row;
    
    position: fixed;

    margin-left: 25vw;
    margin-right: auto;
    justify-content: center;
    
    top: 2vw;
}
  
nav a {
    text-decoration: none;
    text-align: center;
    
    background-color: rgb(165, 233, 205);
    width: 7.5rem;
    
    margin: 0 0.6rem 0 0.6rem;
    padding: 0.5rem;
    
    border: 1px solid rgb(248, 115, 115);
    border-radius: 5px;
} 



a:hover{
    background-color: skyblue;
}

a.active{
    background-color: rgb(255, 0, 255);
}





.imagen1{
    background-image: url("../design1_image3.jpg");
    background-repeat: no-repeat;
    background-size: 98vw 50vw;
    
    /* position: absolute; */
    border: 0.5rem solid orangered;
  
    width: 98vw;
    height: 50vw;
    
    /* left: 0.5rem;
    top: 0.5rem; */
}

.dl1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1vw;
    text-align: center;

}

dt{
    font-size: 2vw;
    font-weight: 1000;
    margin-top: 3vw;
    text-align: center;
    
}

dd{
    
    margin-top: 0.5vw;
    margin-left: 0vw;

    text-align: center;
}



.imagen2{

    background-image: url("../design1_image4.jpg");
    background-repeat: no-repeat;
    background-size: 98vw 50vw;
    
    /* position: absolute; */
    border: 0.5rem solid orangered;
  
    width: 98vw;
    height: 50vw

}

.about{
    display: flex;
    flex-direction: row;
    margin-top: 12vw;
}

.about .articulo{
    margin: 0 2vw 0 2vw;
    font-family: Arial;
    font-size: 1.2vw;
}

.imagen3{
    background-image: url("../design1_image5.jpg");
    background-repeat: no-repeat;
    background-size: 98vw 50vw;
    
    /* position: absolute; */
    border: 0.5rem solid orangered;
  
    width: 98vw;
    height: 50vw;
    
}

.contact{
    margin-top: 8vw;
    text-align: center;
}

.titulos5{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    text-align: center;
}

.dt5{
    text-align: left;
    font-family: Arial;
    font-size: 1.8vw;

    margin-left: 10vw;
    margin-right: 10vw;
}

.dd5{
    text-align: left;
    font-family: Arial;
    font-size: 1.2vw;

    text-indent: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

ol li{
    text-align: left;
    font-family: Arial;
    font-size: 1.2vw;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
}

ol li ol li{
    margin-top: 0vw;
    margin-left: -2vw;
}

ul li{
    text-align: left;
    font-family: Arial;
    font-size: 1.2vw;
    text-indent: 4vw;

    margin-left: 10vw;
    margin-right: 10vw;

}

.imagen4{
    background-image: url("../design1_image4.jpg");
    background-repeat: no-repeat;
    background-size: 98vw 50vw;
    
    border: 0.5rem solid orangered;
    
    width: 98vw;
    height: 50vw;
}

.titulo4{
    margin-top: 60vw;
    text-align: center;
}

.subtitulo1{
    margin-left: 10vw;
    font-style: oblique;
}

.subtitulo2{
    margin-left: 10vw;
    font-style: oblique;
    text-decoration: underline;
}

.tabla1{
    margin: 0 auto;
    margin-top: 20vw;
    font-size: 2vw;
    
    border:0.2vw solid brown;
    background-color: burlywood;
}

.dt4{
    margin-left: 10vw;
    font-size: 1.5vw;
    text-align: left;
}

.dd4{
    margin-left: 10vw;
    font-size: 1.5vw;
    text-align: left;
}

.titulo6{
    text-align: center;
    font-size: 2vw;
    font-family: Arial;
    margin-top: 5vw;
}

.form{
    font-family: Arial;
    font-size: 1vw;
    margin: 3vw 20vw 0vw 25vw;   
}

th, td{
    border: 0.5vw solid black;
}

input{
    border: 0;
    border-bottom: 0.1vw solid black;
    outline: 0;
}

.submit{
    font-size: 2vw;
    margin-left: 23vw;
    margin-top: 2vw;
    margin-bottom: 5vw;

    border: 0.1vw solid black;
}